@import url('https://rsms.me/inter/inter-ui.css');

html {
    font-size: 70%;
    font-family: 'Inter UI', sans-serif;
}

.App {
    width: 100%;
    height: 80%;
    margin: 5% 0 5% 0;  
    border-top: 4px solid #0be6d7;
}

.content {
    background-image: linear-gradient(to right,rgba(255,0,0,0), rgba(255,0,0,1));
    padding: 2em 6em 8em;
}

h1 {
    font-size: 8em;
    font-weight: 100;
}

h2 {
    font-size: 6em;
    font-weight: 100;
}

p, h3 {
    font-size: 2em;
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding-top: 1em;
    height: 4em;
}

li {
    display: inline;
    margin-right: 7em;
    font-size: 1.7em;
}

li a {
    text-decoration: none;
    color: rgb(14, 13, 13);
    font-size: 1.4em;
}

li a:hover {
    text-decoration: underline;
}

h2 {
  text-transform: uppercase;
}

.question {
  margin-bottom: 2em;
}